<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">AmazonClone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <form class="form-inline my-2 my-lg-0" method="post" action="/search">
      <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="{{q}}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          Categories
        </a>

        <div class="dropdown-menu">
          {{#each categories}}
            <a class="dropdown-item" href="/products/{{_id}}">{{name}}</a>
          {{/each}}
        </div>
      </li>

      {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            {{user.profile.name}}
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/users/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/signout">Signout</a>
          </div>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/users/signup">Signup</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/users/signin">Signin</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>
