<div class="container mt-4">
  <h3>{{products.[0].category.name}}</h3>

  <div class="row">
    {{#each products}}
      <div class="col-md-4">
        <a href="/product/{{_id}}">
          <div class="card mb-3">
            <img class="card-img-top" src="{{image}}" alt="">
            <div class="card-body">
              <h4 class="card-title">{{name}}</h4>
              <p class="card-text">{{category.name}}</p>
              <p class="card-text">{{price}}</p>
            </div>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>
